<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<link rel='stylesheet' href='/content/aboutme.css' />
<body style=" background: #E0F6ED">     
<header class="header">
  <div>
    <p class="header-intro">Hi, I'm</p>
    <h1 class="header-name">Seunghyeon Ban</h1>
  </div>
</header>

<section class="about">
  <h2>Introduction</h2>
  <p>Hi !, I am a seunghyeon Ban my student number is 301141335.I am aslo goes by the name Kyle which is my english name. I am currently enrroled in centennial college studing software engineering.  </p>
  <p>I am currently enrroled in centennial college studing software engineering to become a web developer after graduate from the school.</p>
</section>

<section class="questions">
  <h2>More about me</h2>
  <h3>Where am I from?</h3>
  <p>I am from south korea, I came to canada 4 years ago. it was hard for me to keep up with high school sicne I didn`t really speak good english. I came from city call seoul which is capital city of south korea. it its a beautfiul and fun city.</p>

  <h3>What is my Dream Job?</h3>
  <p>I am looking forward to become an front-end developer or web developer.</p>

  <h3>what is my habit?</h3>
  <p>my habit is playing video games on free time. I used to work-out at least 2hrs a day. now I only workout 1hr a day since I am busy with school works.</p>

  <h3>what is my crruent job?</h3>
  <p>I am currently working at CIBC branch as personla banking specialist. I really like cibc since all the co-workers are nice and very supportive.(part-time)</p>
  <p>I would like to become an webdeveloper at cibc if there is any opportunity.</p>
</section>
</body>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>