<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<link rel='stylesheet' href='/content/homepage.css' />


<!--main content-->
<body style=" background: #E0F6ED">            
  <div class="jumbotron">
     <div class="glyphicon glyphicon-user " id="photo"></div> 
       <div class="container text-center"> 
          <h1>Hi, I'm <strong>Seunghyeon Ban.</strong></h1>
          <p>I will try to <strong>introduce myself</strong></p>
          <p>my mission is to become a webdeveloper after graduating from college. I do work hard to improve my coding skills everynights.</p>
          <p>thank you so much for checking out my website. I hope you enjoy it.</p>
      </div>
      
  </div> <!-- Header ends here -->




<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>






